@tailwind base;

/* Write your own custom base styles here */
@layer base {
  html {
    @apply bg-neutral-800;
  }

  a {
    @apply no-underline;
  }









  a {
    text-decoration: underline;
    text-decoration-color: #f372b6;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.04em;
  }

  ol {
    list-style: decimal;
    margin-left: 20px;
  }

  ul {
    margin-left: 30px;
  }

  ul li {
    list-style: none;
    position: relative;
  }

  ul li::before {
    content: "\1F449";
    position: absolute;
    left: -30px;
  }

  pre {
    overflow: hidden;
  }

  .markdown {
    @apply text-lg leading-relaxed;
  }

  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply font-sans mb-6 text-neutral-200;
  }

  .markdown h2 {
    @apply font-medium text-3xl mt-12 mb-4 leading-tight text-neutral-200;
  }

  .markdown h3 {
    @apply font-medium text-2xl mt-12 mb-4 leading-tight text-neutral-200;
  }

  .markdown [data-rehype-pretty-code-fragment] > pre {
    @apply bg-neutral-900 mb-6 p-4 rounded-xl;
  }

  .markdown code {
    @apply text-base leading-relaxed;
  }

  .markdown iframe {
    @apply mb-6;
  }
}

@tailwind components;

@tailwind utilities;

@layer utilities {
  .gradient-title {
    @apply bg-gradient-to-r from-pink-400 via-blue-400 to-green-400 bg-clip-text text-transparent;
  }
}
