@tailwind base;

/* Write your own custom base styles here */
@layer base {
  p,
  ul,
  ol,
  blockquote {
    @apply font-sans mb-6;
  }







  a {
    text-decoration: underline;
    text-decoration-color: #f372b6;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.04em;
  }

  ol {
    list-style: decimal;
    margin-left: 20px;
  }

  ul {
    margin-left: 30px;
  }

  ul li {
    list-style: none;
    position: relative;
  }

  ul li::before {
    content: "\1F449";
    position: absolute;
    left: -30px;
  }

  code {
    @apply text-pink-500;
  }

  pre {
    overflow: hidden;
  }
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
  .gradient-title {
    @apply bg-gradient-to-r from-pink-400 via-blue-400 to-green-400 bg-clip-text text-transparent;
  }
}
